In [98]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt

In [99]:

df = pd.read_csv("breast-cancer-wisconsin.data.orig",
                 names=["Sample code number", 
                        "Clump Thickness", 
                        "Uniformity of Cell Size", 
                        "Uniformity of Cell Shape",
                        "Marginal Adhesion",
                        "Single Epithelial Cell Size", 
                        "Bare Nuclei",
                        "Bland Chromatin", 
                        "Normal Nucleoli", 
                        "Mitoses", 
                        "Class"])

df = df.replace({'?': numpy.nan}).dropna(axis=0)
# dropna僅能自動去除nan的data, 
# 所以需要把'?'的毀損資料轉成nan (.replace({'?': numpy.nan})), 
# 再將nan 的data去除 (dropna(axis=0), 
# 其中axis=0代表以row為單位刪除)
X = df.iloc[:, 1:10]
Y = df['Class']

In [100]:
df.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [101]:
X

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
0,5,1,1,1,2,1,3,1,1
1,5,4,4,5,7,10,3,2,1
2,3,1,1,1,2,2,3,1,1
3,6,8,8,1,3,4,3,7,1
4,4,1,1,3,2,1,3,1,1
...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2,1,1,1
695,2,1,1,1,2,1,1,1,1
696,5,10,10,3,7,3,8,10,2
697,4,8,6,4,3,4,10,6,1
698,4,8,8,5,4,5,10,4,1

In [102]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(df, test_size=0.2, random_state=1)
Xtrn = train_set.iloc[:, 1:10]
Ytrn = train_set["Class"]
Xtst = test_set.iloc[:, 1:10]
Ytst = test_set["Class"]  

train_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 546 entries, 575 to 38
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code number           546 non-null    int64
 1   Clump Thickness              546 non-null    int64
 2   Uniformity of Cell Size      546 non-null    int64
 3   Uniformity of Cell Shape     546 non-null    int64
 4   Marginal Adhesion            546 non-null    int64
 5   Single Epithelial Cell Size  546 non-null    int64
 6   Bare Nuclei                  546 non-null    object
 7   Bland Chromatin              546 non-null    int64
 8   Normal Nucleoli              546 non-null    int64
 9   Mitoses                      546 non-null    int64
 10  Class                        546 non-null    int64
dtypes: int64(10), object(1)
memory usage: 51.2+ KB

In [103]:
from sklearn import neighbors                      # import the KNN classifier
clf = neighbors.KNeighborsClassifier(1) 
clf.fit(X, Y) # train classifer with wholedata
clf.score(X, Y) #training accuracy on X

1.0

In [104]:
clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

1.0

In [105]:
clf.score(Xtst, Ytst) #testing accuracy

0.9708029197080292

In [106]:
#classifier 1
from sklearn import neighbors                      # import the KNN classifier
clf = neighbors.KNeighborsClassifier(1) 
clf.fit(X, Y) # train classifer with wholedata
clf.score(X, Y) #training accuracy on X

clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

1.0

In [107]:
clf.score(Xtst, Ytst) #testing accuracy

0.9708029197080292

In [108]:
# classifier 2
from sklearn import tree                         # import the decision tree classifier
clf = tree.DecisionTreeClassifier(max_depth=2)


clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

0.9542124542124543

In [109]:
clf.score(Xtst, Ytst) #testing accuracy

0.948905109489051

In [110]:
# classifier 3
from sklearn import linear_model                 # import package
clf = linear_model.LogisticRegression(C=10**10)

clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

0.9652014652014652

In [111]:
clf.score(Xtst, Ytst) #testing accuracy

0.9854014598540146

In [112]:
# classifier 4
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis # import package
clf = LinearDiscriminantAnalysis()

clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

0.9597069597069597

In [113]:
clf.score(Xtst, Ytst) #testing accuracy

0.9708029197080292

In [114]:
# classifier 5
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

1.0

In [115]:
clf.score(Xtst, Ytst) #testing accuracy

0.9927007299270073

In [116]:
# classifier 6
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier()

clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:686: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

0.978021978021978

In [117]:
clf.score(Xtst, Ytst) #testing accuracy

0.9781021897810219

In [118]:
# classifier 7
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()

clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

0.9505494505494505

In [119]:
clf.score(Xtst, Ytst) #testing accuracy

1.0

In [120]:
# classifier 8
from sklearn import svm
clf = svm.SVC()

clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

0.9743589743589743

In [121]:
clf.score(Xtst, Ytst) #testing accuracy

1.0